.reveal [flex] {
    display: flex;
}
.reveal [col] {
    flex: 1 1 0;
    padding-right: 40px;
    text-align: left;
}

.reveal [basic-process] li{
    list-style: none;
}

.reveal [basic-process] li:not([arrow]) {
    border: 3px solid;
    border-radius: 10px;
}

.reveal [basic-process] li[arrow]::after {
    position: relative;
    top: 3pt;
    content: "";
    display: inline-block;
    /* By using an em scale, the arrows will size with the font */
    width: 0.4em;
    height: 0.4em;
    border-right: 0.2em solid;
    border-top: 0.2em solid;
    transform: rotate(45deg);
    margin-right: 0.5em;
}

.reveal [col][demo] {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.reveal [theme-red]{
    background-color: #A80000;
    color: #ddd;
    border-radius: 10px;
    padding: 10px;
}
.reveal [theme-blue]{
    background-color: #00539F;
    color: #ddd;
    border-radius: 10px;
    padding: 10px;
}

.reveal [theme-blue] h2, .reveal [theme-red] h2, 
.reveal [theme-blue] h4, .reveal [theme-red] h4{
    color: #ddd;
}

.reveal .demo-ios {
    background: rgba(0, 0, 0, 0) url("/img/devices-sprite-transparent.png") no-repeat scroll 0 0 / 455px 1559px;
    height: 740px;
    position: relative;
    top: -60px;
    width: 460px;
}
.reveal .demo-ios iframe {
    height: 560px;
    left: 69px;
    position: absolute;
    top: 75px;
    width: 320px;
}
.reveal iframe {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}
.reveal .demo-md {
    background: rgba(0, 0, 0, 0) url("/img/devices-sprite-transparent.png") no-repeat scroll 0 -775px / 455px 1559px;
    height: 780px;
    position: relative;
    top: -60px;
    width: 460px;
}
.reveal .demo-md iframe {
    height: 572px;
    left: 52px;
    position: absolute;
    top: 67px;
    width: 350px;
}

.icon-demo button {
  margin: 0 20px;
  padding: 10px 30px;
  font-size: 18px;
  -webkit-appearance: none;
  border: 0;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  outline: 0;
  background: transparent;
  }
  .icon-demo button:hover {
    border-bottom-color: rgba(255, 255, 255, 0.2); }
  .icon-demo button.active {
    border-bottom-color: #ddd; }

.icon-demo .icons-preview {
  margin: 40px auto;
  width: 820px; }
  .icon-demo .icons-preview div[flex] {
    margin: 45px 0; }
  .icon-demo .icons-preview div[col] {
    text-align: center;
    padding: 0; }
  .icon-demo .icons-preview i {
    font-size: 72px; }

.reveal .align-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reveal .pad-top-100{
    padding-top: 100px;
}
